:root {
    --hulu-green: rgb(109, 228, 141);
}


body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/welcome-bgc2.png");
    background-size: cover;
    height: 80vh;

}

.centered {
    display: flex;
    justify-content: center;
}
.small-text {
    font-size: 0.8rem;
}
.smaller-text {
    font-size: 0.6rem;
}
.navbar-brand img {
    width: 150px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
}
  
.hero-gradient {
    position: relative;
    padding: 20px;
}

.hero-gradient > * {
    position: relative; /* Ensure the text is above the overlay */
    z-index: 2;
}

.nav-link {
    color: inherit; /* Inherits the color from its parent element */
    text-decoration: none; /* Removes the underline */
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    color: rgba(211, 211, 211);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    color: white;
    background-color: rgba(100, 149, 180, 0.8); 
    opacity: 0.8;
}


/* main */
.bundles {
    color: var(--hulu-green);
}

.subtext {
    color: white;
    font-weight: 900;
    text-align: center;
}

.bundle-btn {
    background-color: var(--hulu-green);
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.bundle-btn:hover {
    background-color: rgba(109, 228, 141, 0.8);
}

.build-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.build-btn:hover {
    background-color: #004d40;
    color: white;
}
  

.terms {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: underline;
}
.terms:hover {
    color: white;
}

.banner1 {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom right, rgb(12,22,32), rgb(30,70,90));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.banner2 {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, var(--hulu-green), rgb(12,22,32));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}