:root {
    --hulu-green: rgb(109, 228, 141);
    --hulu-dark-green: rgb(68, 255, 137);
}


body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.responsive-section {
    transition: height 0.3s ease, opacity 0.3s ease; /* Smooth transition */
  }

  @media (max-width: 768px) {
    .responsive-section > *{
      max-width: 100px;
      overflow: hidden;
    }
  }

  
  @media (min-width: 769px) {
    .responsive-section {
        height: auto;
        opacity: 1;
    }
}

.hero {
    background-image: url("../images/soldier-cat.jpg");
    background-size: cover;
    height: 80vh;
}

.centered {
    display: flex;
    justify-content: center;
}
.small-text {
    font-size: 0.8rem;
}
.smaller-text {
    font-size: 0.6rem;
}

.big-text {
    font-size: 3rem;
}

.bigger-text {
    font-size: 4rem;
    font-weight: 900;
}

.navbar-brand img {
    width: 150px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
}
  
.hero-gradient {
    position: relative;
    padding: 20px;
}

.hero-gradient > * {
    position: relative; /* Ensure the text is above the overlay */
    z-index: 2;
}

.nav-link {
    color: inherit; /* Inherits the color from its parent element */
    text-decoration: none; /* Removes the underline */
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    color: rgba(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 33px;
}

.login-button:hover {
    color: white;
    background-color: rgba(100, 149, 180, 0.8); 
    opacity: 0.8;
}


/* main */
.bundles {
    color: var(--hulu-green);
}

.subtext {
    color: var(--hulu-dark-green);
    font-weight: 900;
    text-align: center;
}

.bundle-btn {
    background-color: var(--hulu-green);
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.bundle-btn:hover {
    background-color: rgba(109, 228, 141, 0.8);
}

.build-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.build-btn:hover {
    background-color: #004d40;
    color: white;
}
  

.terms {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: underline;
}
.terms:hover {
    color: white;
}

.banner1 {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom right, rgb(12,22,32), rgb(30,70,90));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.banner2 {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, var(--hulu-green), rgb(12,22,32));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* Beneath the Fold */

.bulu-tv {
    background-color: rgb(12, 15, 18);
    height: 210vh;
    text-align: center;
}

.card1 {

    background-image: url("../images/emperor-cat.webp");
    background-size: cover;
    background-position: center;
}
.card2 {

    background-image: url("../images/galaxy-cat.jpg");
    background-size: cover;
    background-position: center;
}
.card3 {

    background-image: url("../images/soldier-cat.jpg");
    background-size: cover;
    background-position: center;
}
.card4 {

    background-image: url("../images/super-cat.jpg");
    background-size: cover;
    background-position: center;
}

.bulu-cards {
    height: 100vh;
}

.bulu-tv h6 {
    color: var(--hulu-green);
    padding: 20px;
}

.bulu-tv h1 {
    color: white;
    padding: 20px;
}

.bulu-tv h5 {
    color: white;
    padding: 20px;
}

.rounded-boarder {
    border-radius: 15px;
}

.cards h6 {
    font-size: 9px;
    color:grey;
    margin-top: -180px;
}

.bulu-tv-subtext {
    margin-top: -200px;
}
.bulu-tv-subtext h6 {
    color: var(--hulu-green)
}

.bulu-tv-subtext h2 {
    color: white;
}

.bulu-tv-subtext h6 {
    color: white;
}

.bulu-tv-terms {
    color: grey;
    font-size: 0.5rem;
    text-align: center;
}

.bulu-tv-terms a {
    color: grey;
    text-decoration: underline;
    text-decoration-color: white;
}

/* events */
.event-bg {
    background-image: url("../images/holy-cat.jpg");
    background-size: cover;
    background-position: center;
    position: relative; /* Ensure the position is relative for any child positioning */
    width: 100%;
    height: 120vh;
}

.event-bg-gradient { /* How to overlay a gradiet on a solid color*/
    background: linear-gradient(to bottom right, rgba(0, 20, 0, 0.5), rgba(80, 150, 100, 0.5));
    position: absolute; /* Position it over the bg */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%;
    height: 100%;
}

.event-tab-link {
    background-color: transparent;
    position: relative;
    display: inline-block;
    color: white;
    font-weight: 900;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.event-tab-link:hover {
    opacity: 0.8;
}

.event-tab-link.active:after {
    content: '';
    position: absolute;
    margin: 0 5px;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 4px;
    background-color: currentColor;
}


/* Cat Plans */
#cat-plan-dropdown {
    font-size: 24px;
    text-align: center;
    padding: 2% 60px;
    border-radius: 20px;
}

.benefit-container {
    color: white;
}

.benefit-container hr {
    background-color: grey;
}

.benefit-container i {
    font-size: 30px;
}

/* Footer */
.footer a {
    color: grey;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300px;
}
.footer-section-title {
    color: black !important;
    font-weight: 900;
    padding: 10px 0;
}

.event-tab-content h2,
.event-tab-content p {
  color: lightgrey;
}

